
Server/venv/conquerors/__pycache__/routes.cpython-37.pyc
Server/.DS_Store
Server/venv/.DS_Store
.DS_Store
Server/venv/conquerors/__pycache__/routes.cpython-37.pyc
.idea/vcs.xml
.idea/modules.xml
.idea/Conquerors.iml
.idea/codeStyles/Project.xml
Server/.idea/*
