<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pl.conquerors.app">
    <!-- Permisions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <!-- ACTIVITIES -->
        <activity
            android:name=".view.splash.SplashActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.Splash">

        </activity>
        <activity
            android:name=".view.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".view.register.RegistrationActivity"
            android:label="@string/title_activity_registration"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="fullSensor"
            android:parentActivityName=".view.login.LoginActivity">
        </activity>
        <activity
            android:name=".view.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="fullSensor">
        </activity>
        <activity
            android:name=".view.everydayPrize.EverydayPrizeActivity"
            android:label="Get prize"
            android:screenOrientation="fullSensor">
        </activity>
        <activity android:name=".view.createCharacter.CreateCharacterActivity"/>


        <activity
            android:name=".view.characterStatistics.CharacterStatisticsActivity"
            android:label="Character Statistics"
            android:screenOrientation="fullSensor">
        </activity>

        <activity
            android:name=".view.showCharacters.ShowCharactersAcitivity"
            android:label="Your Characters"
            android:screenOrientation="fullSensor">
        </activity>

        <activity android:name=".view.profile.my.MyProfileActivity"
            android:label="@string/tittle_activity_my_profile"
            android:screenOrientation="fullSensor"
            android:parentActivityName=".view.home.HomeActivity">
        </activity>

        <activity android:name=".view.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="fullSensor"
            android:parentActivityName=".view.home.HomeActivity">
        </activity>


        <activity android:name=".view.settings.password.ChangePasswordActivity"
            android:label="@string/tittle_activity_change_email"
            android:screenOrientation="fullSensor"
            android:parentActivityName=".view.settings.SettingsActivity">
        </activity>

        <activity android:name=".view.settings.email.ChangeEmailActivity"
            android:label="@string/tittle_activity_change_email"
            android:screenOrientation="fullSensor"
            android:parentActivityName=".view.settings.SettingsActivity">
        </activity>

        <activity android:name=".view.createGame.createGameActivity"
            android:label="Create game"
            android:screenOrientation="fullSensor">
        </activity>

        <activity android:name=".view.createGame.chooseOpponent.chooseOpponentActivity"
            android:label="Choose opponent"
            android:screenOrientation="fullSensor">
        </activity>

        <activity android:name=".view.showGames.showGamesActivity"
            android:label="Show games"
            android:screenOrientation="fullSensor">
        </activity>

        <activity android:name=".view.friends.FriendsActivity"
            android:label="@string/tittle_activity_friends"
            android:screenOrientation="fullSensor"
            android:parentActivityName=".view.profile.my.MyProfileActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.friends.search.FindFriendActivity"
            android:label="@string/tittle_activity_find_friend"
            android:screenOrientation="fullSensor"
            android:parentActivityName=".view.friends.FriendsActivity"/>


        <activity android:name=".view.friends.profile.FriendProfileActivity"
            android:screenOrientation="fullSensor"
            android:parentActivityName=".view.friends.FriendsActivity">

        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
